*{
    font-family: sans-serif;
}

body{
text-align: center;
}

main{
    display: flex;
    gap: 16px;
    justify-content: center;
}

.playArea{
    display: flex;
    justify-content: center;
}

.container{
    display: grid;
    height: 720px;
    width: 720px;
    border: 2px solid red;
}

.gridDot{
    box-sizing: border-box;
    border: 1px dashed grey;
}

.drawn{
    background: black;
}

.drawnGrey{
    background: grey;
}

button{
    padding: 16px;
    font-weight: bold;
    color: rgb(0, 72, 131);
    border: 2px solid rgb(0, 140, 255);
    border-radius: 16px;
    background-color: whitesmoke;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
}

button:hover{
    border-radius: 32px;
    background-color: hsl(0, 0%, 98%);
    color: rgb(0, 50, 90);
    border-color: rgb(0, 95, 173);
}

button:active{
    border-color: black;
    color: black;
    background-color: white;
    border-style:groove
}

#drawModeForm{
    text-align: start;
}