*{
    font-family: sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    flex-wrap: wrap;
    height: 720px;
    width: 720px;
    border: 2px solid red;
}

.gridDot{
    width:45px;
    height: 45px;
    box-sizing: border-box;
    border: 1px dashed black;
}

.drawn{
    background: black;
}